/*html {
  width: 100%;
  height: 100%;
}*/

h1 {
  margin: 0px auto;
  text-align: center;
}

.navbar-form {
  margin-top:-20px;
}

/*body {
  padding: 45px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}*/

#media {
    display: block;
    margin: 0 auto;
    clear: left;

}

#weather {
  width: 300px;
  margin: 0px auto;
  text-align: center;
}


#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}
